/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass Container */
.container {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    text-align: center;
    width: 350px;
}

/* Title */
h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 26px;
}

/* File Input */
input[type="file"] {
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
    margin-bottom: 20px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff512f, #dd2476);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover Effect */
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
}

/* Prediction Text */
h3 {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
}
